<section class="admin-orders">
    <h1 class="admin-orders-title" >Danh sách đơn hàng</h1>

    <table id="admin-orders-table" class="display nowrap admin-orders-table" style="width:100%">
        <thead>
            <tr>
                <th>Mã đơn</th>
                <th>Khách hàng</th>
                <th>Ghi chú</th>
                <th>Địa chỉ</th>
                <th>Tổng tiền</th>
                <th>Trạng thái</th>
                <th>Hàng động</th>
            </tr>
        </thead>
        <tbody>
            {{#each orderList}}
                <tr class="admin-orders-item">
                    <td>{{this.ORDER_ID}}</td>
                    <td>{{this.NAME}}</td>
                    <td>{{this.NOTE}}</td>
                    <td>{{this.ADDRESS}}, {{this.WARD}}, {{this.DISTRICT}}, {{this.CITY}}.</td>
                    <td>{{this.TOTAL_PRICE}}</td>
                    <td>
                        <span class="status-type status-type-{{this.CUR_STATUS}}" >{{this.CUR_STATUS_NAME}}</span>
                    </td>
                    <td class="admin-orders-item--actions" >
                        <a class="button button--confirm admin-orders-actions-confirm {{#ifEquals this.CUR_STATUS 2}}{{else}}d-none{{/ifEquals}}" onclick="return false" href="#" data-id-order="{{this.ORDER_ID}}" data-id-user="{{this.USER_ID}}">Duyệt</a>
                        <a class="button button--warning admin-orders-actions-cancel {{#ifEquals this.CUR_STATUS 2}}{{else}}d-none{{/ifEquals}}" onclick="return false" href="#" data-id-order="{{this.ORDER_ID}}" data-id-user="{{this.USER_ID}}">Huỷ</a>
                        <a class="button button--delivery admin-orders-actions-delivery {{#ifEquals this.CUR_STATUS 3}}{{else}}d-none{{/ifEquals}}" onclick="return false" href="#" data-id-order="{{this.ORDER_ID}}" data-id-user="{{this.USER_ID}}">Giao hàng</a>
                        <a class="button button--delivered admin-orders-actions-delivered {{#ifEquals this.CUR_STATUS 4}}{{else}}d-none{{/ifEquals}}" onclick="return false" href="#" data-id-order="{{this.ORDER_ID}}" data-id-user="{{this.USER_ID}}">Đã nhận</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</section>
<script src="/js/admin/order.js"></script>