<section class="admin-product">
    <h1 class="admin-product-title" >Thùng Rác</h1>

    <div class="trash-wrap" >
        <a href="#" onclick="return false" class="button button--type2 trash-btn" id="all-product-btn">
            <i class="fa-solid fa-trash-can"></i>
            <span>Danh Sách Sản Phẩm</span>
        </a>
    </div>
    <table id="admin-trash-table" class="display nowrap" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tên sản phẩm</th>
                <th>Loại</th>
                <th>Đơn vị</th>
                <th>Giá</th>
                <th>Nhãn hiệu</th>
                <th>Xuất xứ</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            {{#each trash_list}}
                <tr class="admin-product-item">
                    <td>{{this.PRODUCT_ID}}</td>
                    <td>{{this.NAME}}</td>
                    <td>{{this.CAT_NAME}}</td>
                    <td>{{this.BASIC_UNIT}}</td>
                    <td>{{this.PRICE_PER_UNIT}}</td>
                    <td>{{this.BRAND}}</td>
                    <td>{{this.ORIGIN}}</td>
                    <td class="admin-product-item--actions" >
                        <a class="button button-modify" href="/admin/restore-product/{{this.SLUG}}">Khôi phục</a>
                        <a class="button button-delete" href="#">Xoá</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</section>
<script src="/js/admin/trash.js"></script>