  <div class="home-products-wrap">
        <div class="container">
            <a href="#" class="home-products-banner">
                <img src="{{this.[0].BANNER}}" alt="">
            </a>
            <div class="home-products-slide">
                <div class="home-products-slide-header">
                    <h2 class="heading">{{this.[0].CAT_NAME}}</h2>
                    <a href="/categories/{{this.[0].SLUG}}"class="more-btn">
                        Xem thêm
                        <ion-icon name="caret-forward"></ion-icon>
                    </a>
                </div>
                <div class="home-products-slide-body">
                    <div class="owl-carousel home-products-slide-body-list">
                        {{#each this}}
                            <div class="home-products-slide-body-item">
                                <a href="/products/show" class="imgLink">
                                    <div class="imgBox">
                                        <img src="{{IMAGE_PATH}}" alt="{{NAME}}">
                                    </div>
                                </a>
                                <div class="item-info">
                                    <a href="#" class="item-info__title">
                                        <h3>{{NAME}}</h3>
                                    </a>
                                    <div class="item-info__price">
                                        <div class="item-info__price-origin">
                                            <span class="price" >{{PRICE_PER_UNIT}}&nbsp;đ</span>
                                            <span class="like" >
                                                <ion-icon class="heart-outline" name="heart-outline"></ion-icon> 
                                                <ion-icon class="heart" name="heart"></ion-icon> 
                                            </span>
                                        </div>
                                        <div class="item-info__price-sale">
                                            <span class="percent">-0%</span>
                                            <span class="price" >{{PRICE_PER_UNIT}}&nbsp;đ</span>
                                        </div>
                                    </div>
                                    <div class="item-info__delivery">
                                        Miễn phí giao hàng Cần Thơ
                                    </div>
                                </div>
                                <div class="item-options">
                                    <a href="#"class="buy-now" >Mua ngay</a>
                                    <div class="option-right">
                                        <a href="#">
                                            <ion-icon name="eye"></ion-icon>
                                        </a>
                                        <a href="#">
                                            <ion-icon name="cart"></ion-icon>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                        
                        {{!-- <div class="home-products-slide-body-item">
                            <a href="#" class="imgLink">
                                <div class="imgBox">
                                    <img src="/img/products/bang-con.png" alt="">
                                </div>
                            </a>
                            <div class="item-info">
                                <a href="#" class="item-info__title">
                                    <h3>Tập vẽ mỹ thuật A4 - 15 tờ</h3>
                                </a>
                                <div class="item-info__price">
                                    <div class="item-info__price-origin">
                                        <span class="price" >85.300 đ</span>
                                        <span class="like" >
                                            <ion-icon class="heart-outline" name="heart-outline"></ion-icon> 
                                            <ion-icon class="heart" name="heart"></ion-icon> 
                                        </span>
                                    </div>
                                    <div class="item-info__price-sale">
                                        <span class="percent">-10%</span>
                                        <span class="price" >8.530 đ</span>
                                    </div>
                                </div>
                                <div class="item-info__delivery">
                                    Miễn phí giao hàng Cần Thơ
                                </div>
                            </div>
                            <div class="item-options">
                                <a href="#"class="buy-now" >Mua ngay</a>
                                <div class="option-right">
                                    <a href="#">
                                        <ion-icon name="eye"></ion-icon>
                                    </a>
                                    <a href="#">
                                        <ion-icon name="cart"></ion-icon>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="home-products-slide-body-item">
                            <a href="#" class="imgLink">
                                <div class="imgBox">
                                    <img src="/img/products/but-mau.jpg" alt="">
                                </div>
                            </a>
                            <div class="item-info">
                                <a href="#" class="item-info__title">
                                    <h3>Tập vẽ mỹ thuật A4 - 15 tờ</h3>
                                </a>
                                <div class="item-info__price">
                                    <div class="item-info__price-origin">
                                        <span class="price" >85.300 đ</span>
                                        <span class="like" >
                                            <ion-icon class="heart-outline" name="heart-outline"></ion-icon> 
                                            <ion-icon class="heart" name="heart"></ion-icon> 
                                        </span>
                                    </div>
                                    <div class="item-info__price-sale">
                                        <span class="percent">-10%</span>
                                        <span class="price" >8.530 đ</span>
                                    </div>
                                </div>
                                <div class="item-info__delivery">
                                    Miễn phí giao hàng Cần Thơ
                                </div>
                            </div>
                            <div class="item-options">
                                <a href="#"class="buy-now" >Mua ngay</a>
                                <div class="option-right">
                                    <a href="#">
                                        <ion-icon name="eye"></ion-icon>
                                    </a>
                                    <a href="#">
                                        <ion-icon name="cart"></ion-icon>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="home-products-slide-body-item">
                            <a href="#" class="imgLink">
                                <div class="imgBox">
                                    <img src="/img/products/compa.jpg" alt="">
                                </div>
                            </a>
                            <div class="item-info">
                                <a href="#" class="item-info__title">
                                    <h3>Tập vẽ mỹ thuật A4 - 15 tờ</h3>
                                </a>
                                <div class="item-info__price">
                                    <div class="item-info__price-origin">
                                        <span class="price" >85.300 đ</span>
                                        <span class="like" >
                                            <ion-icon class="heart-outline" name="heart-outline"></ion-icon> 
                                            <ion-icon class="heart" name="heart"></ion-icon> 
                                        </span>
                                    </div>
                                    <div class="item-info__price-sale">
                                        <span class="percent">-10%</span>
                                        <span class="price" >8.530 đ</span>
                                    </div>
                                </div>
                                <div class="item-info__delivery">
                                    Miễn phí giao hàng Cần Thơ
                                </div>
                            </div>
                            <div class="item-options">
                                <a href="#"class="buy-now" >Mua ngay</a>
                                <div class="option-right">
                                    <a href="#">
                                        <ion-icon name="eye"></ion-icon>
                                    </a>
                                    <a href="#">
                                        <ion-icon name="cart"></ion-icon>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="home-products-slide-body-item">
                            <a href="#" class="imgLink">
                                <div class="imgBox">
                                    <img src="/img/products/dat-nan-hinh-dung.png" alt="">
                                </div>
                            </a>
                            <div class="item-info">
                                <a href="#" class="item-info__title">
                                    <h3>Tập vẽ mỹ thuật A4 - 15 tờ</h3>
                                </a>
                                <div class="item-info__price">
                                    <div class="item-info__price-origin">
                                        <span class="price" >85.300 đ</span>
                                        <span class="like" >
                                            <ion-icon class="heart-outline" name="heart-outline"></ion-icon> 
                                            <ion-icon class="heart" name="heart"></ion-icon> 
                                        </span>
                                    </div>
                                    <div class="item-info__price-sale">
                                        <span class="percent">-10%</span>
                                        <span class="price" >8.530 đ</span>
                                    </div>
                                </div>
                                <div class="item-info__delivery">
                                    Miễn phí giao hàng Cần Thơ
                                </div>
                            </div>
                            <div class="item-options">
                                <a href="#"class="buy-now" >Mua ngay</a>
                                <div class="option-right">
                                    <a href="#">
                                        <ion-icon name="eye"></ion-icon>
                                    </a>
                                    <a href="#">
                                        <ion-icon name="cart"></ion-icon>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="home-products-slide-body-item">
                            <a href="#" class="imgLink">
                                <div class="imgBox">
                                    <img src="/img/products/product_1.jpg" alt="">
                                </div>
                            </a>
                            <div class="item-info">
                                <a href="#" class="item-info__title">
                                    <h3>Tập vẽ mỹ thuật A4 - 15 tờ</h3>
                                </a>
                                <div class="item-info__price">
                                    <div class="item-info__price-origin">
                                        <span class="price" >85.300 đ</span>
                                        <span class="like" >
                                            <ion-icon class="heart-outline" name="heart-outline"></ion-icon> 
                                            <ion-icon class="heart" name="heart"></ion-icon> 
                                        </span>
                                    </div>
                                    <div class="item-info__price-sale">
                                        <span class="percent">-10%</span>
                                        <span class="price" >8.530 đ</span>
                                    </div>
                                </div>
                                <div class="item-info__delivery">
                                    Miễn phí giao hàng Cần Thơ
                                </div>
                            </div>
                            <div class="item-options">
                                <a href="#"class="buy-now" >Mua ngay</a>
                                <div class="option-right">
                                    <a href="#">
                                        <ion-icon name="eye"></ion-icon>
                                    </a>
                                    <a href="#">
                                        <ion-icon name="cart"></ion-icon>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="home-products-slide-body-item">
                            <a href="#" class="imgLink">
                                <div class="imgBox">
                                    <img src="/img/products/product_1.jpg" alt="">
                                </div>
                            </a>
                            <div class="item-info">
                                <a href="#" class="item-info__title">
                                    <h3>Tập vẽ mỹ thuật A4 - 15 tờ</h3>
                                </a>
                                <div class="item-info__price">
                                    <div class="item-info__price-origin">
                                        <span class="price" >85.300 đ</span>
                                        <span class="like" >
                                            <ion-icon class="heart-outline" name="heart-outline"></ion-icon> 
                                            <ion-icon class="heart" name="heart"></ion-icon> 
                                        </span>
                                    </div>
                                    <div class="item-info__price-sale">
                                        <span class="percent">-10%</span>
                                        <span class="price" >8.530 đ</span>
                                    </div>
                                </div>
                                <div class="item-info__delivery">
                                    Miễn phí giao hàng Cần Thơ
                                </div>
                            </div>
                            <div class="item-options">
                                <a href="#"class="buy-now" >Mua ngay</a>
                                <div class="option-right">
                                    <a href="#">
                                        <ion-icon name="eye"></ion-icon>
                                    </a>
                                    <a href="#">
                                        <ion-icon name="cart"></ion-icon>
                                    </a>
                                </div>
                            </div>
                        </div> --}}
                    </div>
                </div>
            </div>
        </div>
    </div>