  <div class="home-products-wrap">
        <div class="container">
            <a href="#" class="home-products-banner">
                <img src="{{this.[0].BANNER}}" alt="">
            </a>
            <div class="home-products-slide">
                <div class="home-products-slide-header">
                    <h2 class="heading">{{this.[0].CAT_NAME}}</h2>
                    <a href="/categories/{{this.[0].CAT_SLUG}}"class="more-btn">
                        Xem thêm
                        <ion-icon name="caret-forward"></ion-icon>
                    </a>
                </div>
                <div class="home-products-slide-body">
                    <div class="owl-carousel home-products-slide-body-list">
                        {{#each this}}
                            <div class="home-products-slide-body-item">
                                <form style="display: none;" class="form-product-home" method="POST" action="#">
                                    <input type="number" name="quantity" value="1">
                                    <input  type="hidden" name="name" value="{{NAME}}">
                                    <input  type="hidden" name="price_per_unit" value="{{PRICE_PER_UNIT}}">
                                    <input  type="hidden" name="slug" value="{{SLUG}}">
                                    <input  type="hidden" name="image" value="{{IMAGE_PATH}}">
                                    <input  type="hidden" name="product_id" value="{{PRODUCT_ID}}">
                                </form>
                                <a href="/products/{{SLUG}}" onclick="return false" class="imgLink home-products-detail-img">
                                    <div class="imgBox">
                                        <img src="{{IMAGE_PATH}}" alt="{{NAME}}">
                                    </div>
                                </a>
                                <div class="item-info">
                                    <a href="/products/{{SLUG}}" class="item-info__title">
                                        <h3>{{NAME}}</h3>
                                    </a>
                                    <div class="item-info__price">
                                        <div class="item-info__price-origin">
                                            <span class="price" >{{PRICE_PER_UNIT}}&nbsp;đ</span>
                                            <span class="like" data-id-product="{{PRODUCT_ID}}" >
                                                <ion-icon class="heart-outline" name="heart-outline"></ion-icon> 
                                                <ion-icon class="heart" name="heart"></ion-icon> 
                                            </span>
                                        </div>
                                        <div class="item-info__price-sale">
                                            <span class="percent">-0%</span>
                                            <span class="price" >{{PRICE_PER_UNIT}}&nbsp;đ</span>
                                        </div>
                                    </div>
                                    <div class="item-info__delivery">
                                        Miễn phí giao hàng Cần Thơ
                                    </div>
                                </div>
                                <div class="item-options">
                                    <a href="/cart" onclick="return false" class="buy-now" >Mua ngay</a>
                                    <div class="option-right">
                                        <a href="/products/{{SLUG}}">
                                            <ion-icon name="eye"></ion-icon>
                                        </a>
                                        <button class="home-add-cart-btn" onclick="return false" id="home-add-cart-btn" >
                                            <ion-icon name="cart"></ion-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- <script>
        function addToCartHome() {
        
            console.log("12221");
            
        }   
    </script> --}}