<section class="wishlist">
    <div class="row">
        <h1 class="wishlist-title" >Danh sách yêu thích</h1>
    </div>
    <div class="wishlist-wrap">
        <ul class="wishlist-list" >
            {{#each listProduct}}
                <li class="wishlist-item" >
                    <div class="wishlist-item-exit" data-id-product="{{this.PRODUCT_ID}}">
                        <ion-icon name="close"></ion-icon>
                    </div>
                    <div class="row">
                        <form style="display: none;" class="form-product" method="POST" action="#">
                            <input type="number" name="quantity" value="1">
                            <input  type="hidden" name="name" value="{{this.NAME}}">
                            <input  type="hidden" name="price_per_unit" value="{{this.PRICE_PER_UNIT}}">
                            <input  type="hidden" name="slug" value="{{this.SLUG}}">
                            <input  type="hidden" name="image" value="{{this.IMAGE_PATH}}">
                            <input  type="hidden" name="product_id" value="{{this.PRODUCT_ID}}">
                        </form>
                        <div class="product_gallery col-lg-2">
                            <div class="product_gallery-imgBox-wrap" >
                                <a href="/products/{{this.SLUG}}" class="product_gallery-imgBox">
                                    <img src="{{this.IMAGE_PATH}}" alt="{{this.IMG_DESCRIPTION}}">
                                </a>
                            </div>    
                        </div>
                        <div class="product_body col-lg-7">
                            <h1 class="product_body-title">
                                <a href="/products/{{this.SLUG}}">{{this.NAME}}</a>
                            </h1>
                            <div class="product_body-pricebox">
                                <span class="product_body-price">{{this.PRICE_PER_UNIT}}&nbsp;đ</span>
                                <span class="product_body-old-price">{{this.PRICE_PER_UNIT}}&nbsp;đ</span>
                                <span class="product_body-sale">-0%</span>
                            </div>
                            
                        </div>
                        <div class="product_body-action-wrap col-lg-3">
                            <div class="product_body-action">
                                <button class="button--type1 product_body-action-buy buy-now" >Mua ngay</button>
                                <button class="button--type2 product_body-action-whistlist add-cart-btn" >Thêm vào giỏ hàng</button>
                                <div class="like-btn" data-id-product="{{this.PRODUCT_ID}}">
                                    <ion-icon class="heart-outline" name="heart-outline"></ion-icon>
                                    <ion-icon class="heart" name="heart"></ion-icon>
                                    <span>Yêu thích</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            {{/each}}
            
        </ul>
    </div>

    <div class="modal" id="modal-delete-success" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông báo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Xoá địa chỉ thành công.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Đóng</button>
            </div>
            </div>
        </div>
    </div>

</section>

<script type="module" src="/js/user/wishlist.js"></script>